* {
	margin:0;
	padding: 0;
}

body {
	background-color: #222;
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	padding-top: 30px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
	color: #ccc;
}

.wrapper {
	margin: 0 auto;
	max-width: 1000px;
	padding-bottom: 200px;
}

.slider {
	width: 1000px;
	position: relative;
	padding-top: 667px;
	margin: 40px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider>img {
	position: absolute;
	left: 0;
	top: 0;
	transition: all 2s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	margin: 20px 7%;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 2s;
	opacity: 0.6;
}

.slider label img {
	display: block;
}

.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}

.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	tansform: scale(1.1);
}

.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	tansform: scale(1);
}